body {
    background-color: white;
    color: #353A40;
    font-family: 'Segoe Ui', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

#logoImg {
    max-width: 220px;
    margin-top: 5px;
    transform: translate(-19px, 10px);
}

li {
    display: inline-block;
    margin: 80px 0 0 30px;
}

a {
    color: #353A40;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    color: rgb(238, 151, 51);
}

.foto_banner {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url(../img/crop__261195_t1__1920.webp);
    background-size: cover;
    background-position: center;
}

main {
    flex-direction: row;

}

section {
    margin-bottom: 90px;
    /*Abstand zwischen ALLE SECTIONS von der Page*/
}

.Koechinnen {
    width: 590px;
    margin-top: 90px;
    /*---Abstand zwischen Foto Köchinnen und Top von DIV Willkommen-------*/
    padding-left: 130px;
    /* -Abstand Foto Köchinnen und left von DIV*/
}

.gruppe_kochen {
    width: 590px;
    margin-top: 34px;
    /*---Abstand zwischen Foto "gruppe_kochen" und Top von DIV -------*/
}

 /*die 2 Section (Willkommen & Newsletter) wurden unbenannt als spalten*/
.spalten {
    display: flex;
    padding-left: 0px;
}

.spalten h1 {
    font-size: 60px;
    font-weight: 600;
    color: #383737;
}

.spalten h2 {
    font-size: 25px;
    line-height: 15x;
    width: 90%;

}

.spalten p {
    line-height: 20px;
    max-width: 500px;
}

span {
    color: rgb(238, 151, 51);
}

#iframeContainer {
    position: relative;
}

#iframeContainer.inactive::after {
    background: antiquewhite;
    content: "Diese Video befindet sich auf youtube.com Wenn Sie den Inhalt aktivieren, werden Daten an diesen Anbieter übertragen.";
    position: absolute;
    padding: 20px;
    font-size: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 676px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 30px;
    width: 80px;
    background-color: rgb(238, 151, 51);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 10px;
    border-style: ridge;
    border-color: rgb(235, 235, 235);
    font-size: 12px;
}

/*------------------Footer----------------*/

.footerNavigation {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin: 100px 0 30px;
}

.footerNavigation>li {
    width: auto;
    margin: 0;
}

.footerNavigation>li a {
    color: #353A40;
    text-decoration: none;
    justify-content: center;
    transition: all 0.5s;
}

.footerNavigation>li a:hover,
.footerNavigation>li a:focus {
    color: rgb(238, 151, 51);
}